@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar scroll</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <form class="">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                @*<button class="btn btn-outline-success" type="submit">Search</button>*@
      </form>
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>

      <a href="#"><i class='bx bx-heart'></i></a>
      <a href="#"><i class='bx bx-user' ></i></a>
      <a href="#"><i class='bx bx-shopping-bag'></i></a>

    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
  <div class="container-fluid">
        @*<a class="navbar-brand" href="#">Navbar scroll</a>*@
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class='bx bx-customize'></i>All Departments
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" asp-controller="Shop" asp-action="Index">Shop 1</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stores
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mega menu
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
          </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
          </li>
        </ul>


    </div>
  </div>
</nav>
<hr />

<br />

<section style="height: 500px; background-color:lightseagreen; border-radius:5px;">
</section>

<br />
<h3>Products</h3>
<br />

<section>
    <div class="row text-center justify-content-center">
        @{
            int count = 0;
        }
        @foreach (var produit in Model)
        {
                <div class="col-sm-4 col-md-3 col-lg-2 mb-4" >
                        <div style="margin: 2px; border: 1px solid #e9ecef;">
                    @*<img src="Images/78000087-perroquet-coloré-sur-fond-transparent-illustration.jpg"> *@
                        <i class='bx bxs-analyse' style="font-size: 100px;"></i>
                        <h6>@produit.Name</h6>
                    </div>
                </div>    
            count++;
            @if (count == 6)
            {
                break;
            }
        }
</div>
</section>

<br />
<br />
<section>
    <div class="row">
        <div class="col-6">
            <div style="margin: 2px; border: 1px solid #e9ecef; height: 100px; background-color:mediumaquamarine;">

            </div>
        </div>
        <div class="col-6">
            <div style="margin: 2px; border: 1px solid #e9ecef; height: 100px;background-color:mediumaquamarine;">

            </div>
        </div>
    </div>
</section>


<br />
<br />
<br />
<h3>Popular Products</h3>
<br />

<section>
    <div class="row text-center justify-content-center">
        @{
            count = 0;
        }
        @foreach (var produit in Model)
        {
                    <div class="col-sm-4 col-md-3 col-lg-2 mb-4" >
                                <div style="margin:2px; border: 1px solid #e9ecef;">
                    @*<img src="Images/78000087-perroquet-coloré-sur-fond-transparent-illustration.jpg"> *@
                            <i class='bx bxs-analyse' style="font-size: 100px;"></i>
                            <h6>@produit.Name</h6>
                        </div>
                    </div>    
            count++;
            @if (count == 12)
            {
                break;
            }
        }
</div>
</section>

<br />
<br />
<br />
<h3>Popular Products</h3>
<br />

<section>
    <div class="row text-center justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div style="margin:2px; border: 1px solid #e9ecef; height: 300px; background-color:darkseagreen;">

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div style="margin:2px; border: 1px solid #e9ecef; height: 300px; background-color:mediumaquamarine;">

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div style="margin:2px; border: 1px solid #e9ecef; height: 300px; background-color:mediumaquamarine;">

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
            <div style="margin:2px; border: 1px solid #e9ecef; height: 300px; background-color:mediumaquamarine;">

            </div>
        </div>
    </div>
</section>

<br />
<section>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div style="margin:2px; padding: 20px;">
                <i class='bx bx-time'  style="font-size: 50px;"></i>
                <h5>Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div style="margin:2px; padding: 20px;">
                <i class='bx bx-time'  style="font-size: 50px;"></i>
                <h5>Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div style="margin:2px; padding: 20px;">
                <i class='bx bx-time'  style="font-size: 50px;"></i>
                <h5>Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div style="margin:2px; padding: 20px;">
                <i class='bx bx-time'  style="font-size: 50px;"></i>
                <h5>Title</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
    </div>
</section>



