
@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<br />
<section>
    <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Name</li>
          </ol>
        </nav>
    </div>

</section>

<br />
<br />

<section>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="">
                <h5>Categories</h5>

                <div id="accordion" >
                    <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingOne" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: transparent;">
                              Name 1
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>

                      <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingTwo" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color: transparent;">
                              Nmae 2
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>

                      <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingThree" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="background-color: transparent;">
                                Name 3
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                </div>

                <br />
                <br />

                <h5>Stores</h5>
                <br />

                <section>
                    <div class="input-group rounded">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                      <span class="input-group-text border-0" id="search-addon">
                        <a href="#"><i class='bx bx-search'></i></a>
                      </span>
                    </div>

                    <br />

                    <!-- Default checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Store 1</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Store 2</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Store 3</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Store 4</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Store 5</label>
                    </div>

                    <!-- Checked checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked/>
                      <label class="form-check-label" for="flexCheckChecked">Store 6</label>
                    </div>
                </section>
                
                <br />
                <br />

                <h5>Price</h5>
                <br />
                <input type="range" class="form-range" id="customRange">

                <br />
                <br />

                <h5>Rating</h5>
                <br />

                 <!-- Default checkbox -->
                 <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                      </label>
                 </div>
                 <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bx-star' ></i>
                      </label>
                 </div>
                 <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                      </label>
                 </div>
                 <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bxs-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                      </label>
                 </div>
                 <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">
                          <i class='bx bxs-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                          <i class='bx bx-star' ></i>
                      </label>
                 </div>

                 <br />
                 <div style="margin:2px; border: 1px solid #e9ecef; height: 200px; background-color:mediumaquamarine; border-radius: 10px;">

                 </div>


            </div>

        </div>
        <div class="col-sm-12 col-md-9 col-lg-9">
            <div>
                <div style="background-color: cadetblue; padding: 20px; margin-bottom: 20px;">
                    <h2>Snacks & Munchies</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                       <div>
                            <h6>12 Found</h6>
                       </div>
                    </div>
                    <div class="col-8">
                        <div style="text-align: right;">
                            <a href="#"><i class='bx bx-list-ul' ></i></a>
                            <a href="#"><i class='bx bx-grid-alt'></i></a>
                            <a href="#"><i class='bx bxs-grid'></i></a>
                            
                            <div class="btn-group">
                              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Show
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">50</a></li>
                                <li><a class="dropdown-item" href="#">20</a></li>
                                <li><a class="dropdown-item" href="#">10</a></li>
                              </ul>
                            </div>
                            <div class="btn-group">
                              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Name</a></li>
                                <li><a class="dropdown-item" href="#">Price</a></li>
                                <li><a class="dropdown-item" href="#">Rating</a></li>
                              </ul>
                            </div>
                        </div>
                       

                    </div>
                </div>

                <br />

                <div class="row text-center justify-content-center">
                    @{
                        int count = 0;
                    }
                    @foreach (var produit in Model)
                    {
                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4" >
                                    <div style="margin:2px; border: 1px solid #e9ecef;">
                                @*<img src="Images/78000087-perroquet-coloré-sur-fond-transparent-illustration.jpg"> *@
                                <i class='bx bxs-analyse' style="font-size: 100px;"></i>
                                <h6>@produit.Name</h6>
                            </div>
                        </div>    

                            <a href="#" class="col-sm-4 col-md-3 col-lg-2 mb-4">
                                        <div style="margin: 2px; border: 1px solid #e9ecef;">
                                            <img src="~/Images/product-img-8.jpg" style="width: 100px;">
                                            </div> </a>

                        count++;
                        @*@if (count == 12)
                        {
                            break;
                        }*@
                    }
</div>
            </div>

        </div>
    </div>
</section>




<br />
<br />
<br />