
@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<br />
<section>
    <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">Name</li>
          </ol>
        </nav>
    </div>

</section>

<br />
<br />

<section>
    <div class="row">
        <div class="col-4">
            <div class="">
                <h5>Categories</h5>

                <div id="accordion" >
                    <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingOne" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: transparent;">
                              Name 1
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>

                      <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingTwo" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="background-color: transparent;">
                              Nmae 2
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>

                      <div class="card" style="border: 0px;">
                        <div class="card-header" id="headingThree" style="background-color: transparent;">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="background-color: transparent;">
                                Name 3
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </div>
                        </div>
                      </div>
                    </div>
            </div>

        </div>
        <div class="col-8">
            <div>
                <div style="background-color: cadetblue; padding: 20px; margin-bottom: 20px;">
                    <h2>Snacks & Munchies</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                       <div>
                            <h6>12 Found</h6>
                       </div>
                    </div>
                    <div class="col-8">
                        <div style="text-align: right;">
                            <a href="#"><i class='bx bx-heart'></i></a>
                            <a href="#"><i class='bx bx-user' ></i></a>
                            <a href="#"><i class='bx bx-shopping-bag'></i></a>
                        </div>
                       

                    </div>
                </div>

                <div class="row text-center justify-content-center">
                    @{
                        int count = 0;
                    }
                    @foreach (var produit in Model)
                    {
                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4" >
                                    <div style="margin:2px; border: 1px solid #e9ecef;">
                                @*<img src="Images/78000087-perroquet-coloré-sur-fond-transparent-illustration.jpg"> *@
                                <i class='bx bxs-analyse' style="font-size: 100px;"></i>
                                <h6>@produit.Name</h6>
                            </div>
                        </div>    
                        count++;
                        @*@if (count == 12)
                        {
                            break;
                        }*@
                    }
</div>
            </div>

        </div>
    </div>
</section>

